# macOS
.DS_Store
.AppleDouble
.LSOverride

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
*.tmp
*.swp
*.swo
*.swn

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

*.mp4


audio-cnn-visualization/node_modules/
audio-cnn-visualization/.next/
audio-cnn-visualization/out/
audio-cnn-visualization/.env*.local
audio-cnn-visualization/*.tsbuildinfo
audio-cnn-visualization/next-env.d.ts

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.env
.env
.modal*
brca1_analysis_plot.png
.idea/